.fullPizzaContainer {
  .pizzaImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .PizzaImage {
      width: 50%;
    }
  }

  .title {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .line {
    display: flex;
    justify-content: space-around;
    .rating {
      font-size: 20px;
      margin: 10px 0;
    }
    .totalPrice {
      font-size: 20px;
      margin: 10px 0;
      text-align: center;
    }
  }
  .about {
    text-align: initial;
  }
  .button {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .fullPizzaContainer {
    .line {
      flex-direction: column;
      .rating {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
