@import "../../scss/variables";

.root {
  position: relative;
  left: -120px;
}

@media (max-width: 1300px) {
  .root {
    position: relative;
    left: 0px;
    margin-top: 20px;
  }
  .input {
    width: 100%;
  }
}

.input {
  border: 1px solid $orange;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 40px;
  outline: none;
  width: 300px;

  &:focus {
    border: 2px solid $orange;
  }
}

.icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: calc(50% - 11px);
  left: 14px;
  opacity: 0.3;
}

.clearIcon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: calc(50% - 11px);
  right: 14px;
  opacity: 0.3;
  cursor: pointer;
}

@media (max-width: 600px) {
  .input {
    width: 100%;
  }
}
